cytoolz
eth-utils
eth-keyfile
eth-keys
coincurve>=7.1.0
eth-abi
rlp
flask>=0.12
flask_httpauth
flask_restful
ethereum==2.3.1
eth-tester[py-evm]>=0.1.0-beta.23,<1.0
web3==v4.0.0
gevent==1.2.2
click
requests
werkzeug
munch
typing==3.6.2
bs4
filelock

